@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: aliceblue;
}

nav {
  margin: 4em;
}

nav ul {
  display: flex;
  gap: 4.1em;
  margin: 0;
}
nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.logo {
  margin-left: 4em;
  margin-top: 0;
}

main {
  display: flex;
  gap: 8em;
  flex: 1 3;
  margin-left: 4em;
  padding-top: 1rem;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: justify; /* Center text within the container */
  padding-top: 10px;
  padding-bottom: 100px;
}

.about-page img {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  border: 2px solid #ccc; /* Customize border color and thickness */
}

.about-page h1 {
  font-size: xx-large;
  padding: 10px;
}

.about-page p {
  font-weight: lighter;
  width: 50%;
  font-size: large;
  font-family: cursive;
}

.tag {
  padding-top: 10px;
  text-align: right;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(164, 195, 223);
  border-bottom: 5px solid black;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border: dashed;
  text-align: center;
}
.left-container {
  width: 45%;
}

.left-container h1 {
  font-weight: normal;
  font-size: 5.2rem;
  line-height: 1.1em;
}

.left-container p {
  padding-top: 1em;
  font-size: 1.6rem;
  font-weight: 100;
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2em;
  margin-right: 1.2em;
}

.contact-btn:hover {
  background-color: #0051bb;
  color: rgb(221, 169, 71);
  transform: translateY(-5px); /* Move the Link 5 pixels up on hover */
}

.contact-page h2 {
  justify-content: center;
  display: flex;
  padding-top: 20px;
  font-size: xx-large;
  padding-bottom: 50px;
}

.contact-body {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 100px;
}

.home-btn:hover {
  background-color: #0051bb;
}

.contact-card {
  text-align: center;
  font-size: larger;
  align-items: center;
}

.contact-card img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.right-container {
  width: 45%;
}

.repo-details {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}
.repo-list li {
  background-color: white;
  margin-top: 1rem;
}
.repos-container {
  justify-content: center;
  padding: 2rem;
}

.repos-container h2 {
  justify-content: center;
  display: flex;
  font-size: 2em;
}

.repos-container h3 {
  padding-left: 1rem;
  font-weight: bold;
  font-family: cursive;
}

.repos-container p {
  padding-left: 1rem;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.repo-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2em;
  margin-bottom: 1.2em;
  padding: 1em;
}

.card {
  padding: 1em;
}

.single-repo-container {
  justify-content: center;
  padding: 2rem;
  background-color: white;
}

.single-repo-container h2 {
  justify-content: center;
  display: flex;
  font-size: 2em;
  padding-left: 1rem;
  font-weight: bold;
  font-family: cursive;
  padding-bottom: 1em;
}
.single-repo-container h3 {
  padding-top: 1em;
  font-size: large;
  font-family: cursive;
  font-weight: bold;
}

.single-repo-container p {
  padding-left: 1rem;
  padding-bottom: 1em;

  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dirs {
  font-family: "Courier New", Courier, monospace;
  color: blue;
  text-decoration: underline;
}

.search-form {
  width: 100%;
  margin: 0 auto; /* Center the form horizontally within its container */
  padding: 10px; /* Add some padding for spacing */
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.search-input {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%; /* Set the input field width to 80% of the form's width */
  padding: 10px; /* Add padding to the input field for spacing */
  border: 1px solid #ccc; /* Add a border for a visual boundary */
}

.search-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #0070f3;
  color: white;
  padding: 1em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
